$widthScreen: 100%;
$ribeyeFont: "Ribeye", serif;
$darkCoffeeCol: #270f04;
$borderRadTwnty: 20px;
$borderRadTwoHun: 200px;
$gapTwnty: 1.3em;
$gapThrty: 1.8em;
$gapFrty: 2.3em;
$buttonBgCol: #A8806A;
$buttonHovBgCol: #6b5245;
$whiteMilkCol: #fff8f8;
$latteCol: #E1CFC1;
$imageBgCol: #625451;


@mixin flex($direction, $items, $justify) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: $direction;
    align-items: $items;
    justify-content: $justify;
}

@mixin searchStyle($width) {
    width: $width;
    padding: 20px 0px;
    border-radius: $borderRadTwoHun;
    text-align: center;
    font-family: $ribeyeFont;
    background-color: $latteCol;
}

@mixin customizedSelect() {
    appearance: none;
    background-image: url('../images/icons8-down-arrow-50.png');
    background-repeat: no-repeat;
    background-position: right 20px center;
    background-size: 20px;
}

@mixin btnStyles($option) {
    border: none;
    border-radius: $borderRadTwoHun;
    padding: 15px 30px;
    cursor: pointer;
    color: $darkCoffeeCol;
    font-size: 15px;
    transition: all 0.2s ease-in-out;

    @if $option =='optOne' {
        background-color: $buttonBgCol;
        box-shadow: 0px 8px 0px $darkCoffeeCol;
    }

    @else {
        background-color: $latteCol;
        box-shadow: 0px 8px 0px $buttonBgCol;
    }
}

@mixin borderStyle($pallateColor) {
    border-style: solid;
    border-width: 2px;
    border-color: $pallateColor;
}

@mixin cardStyles() {
    width: 200px;
    height: 200px;
    border-radius: $borderRadTwnty;
    @include flex(column, center, center);
}

* {
    font-family: $ribeyeFont
}

body {
    @include flex(column, center, center);
}

header {
    width: $widthScreen;
    min-height: 200px;
    background-image: url('/images/header.png');

    @include flex(row, flex-start, center);

    position: absolute;
    top: 0;

    h1 {
        padding-top: 0.5em;
        text-align: center;
        font-size: 70px;
        font-family: $ribeyeFont;
        color: $darkCoffeeCol;
    }
}

main {
    width: $widthScreen;
    min-height: 100dvh;
    background-image: url('/images/background.png');

    @include flex(column, center, center);
    justify-content: flex-start;

    .main-container {
        width: min(100% - 2rem, 60rem);
        padding-top: 12em;

        @include flex(column, center, center);
        gap: $gapFrty;

        font-size: 18px;

        article {
            text-align: center;
            color: $darkCoffeeCol;
        }
    }
}

.container {
    width: $widthScreen;

    display: flex;
    flex-direction: row;
    gap: $gapTwnty;
}

.coffee-add-or-search {
    width: 500px;

    @include flex(column, flex-start, flex-start);
    gap: 30px;
}

.btn-search-or-add {
    width: $widthScreen;

    @include flex(row, center, center);
    gap: 1em;

    .btn {
        @include btnStyles(optOne);

        &:hover {
            background-color: $buttonHovBgCol;
        }
    }

    .selected {
        transform: translateY(8px);
        box-shadow: none;
        background-color: $darkCoffeeCol;
        color: $whiteMilkCol;

        &:hover {
            background-color: $darkCoffeeCol;
        }
    }
}

.coffee-search {
    width: $widthScreen;

    font-family: $ribeyeFont;
    color: $darkCoffeeCol;

    @include flex(column, center, center);
    gap: $gapTwnty;

    display: none;

    .coffee-type {
        @include searchStyle(400px);
        @include borderStyle($darkCoffeeCol);

        @include customizedSelect;
    }

    .coffee-name {
        @include searchStyle(400px);
        @include borderStyle($darkCoffeeCol);
    }
}

.add-coffee {
    @include flex(column, center, center);
    gap: $gapTwnty;

    color: $darkCoffeeCol;

    .coffee-detail-section-one {
        width: 500px;
        @include flex(row, flex-start, space-around);
        gap: $gapTwnty;

        .coffee-image-cont {
            @include flex(column, center, center);
            gap: $gapTwnty;

            img {
                background-color: $imageBgCol;
                border-radius: $borderRadTwoHun;

                object-fit: cover;

                transition: filter 0.3s ease-in-out;

                &:hover {
                    filter: brightness(0.7);
                }
            }

            label {
                cursor: pointer;
                margin-top: $gapTwnty;

                input[type="file"] {
                    position: absolute;
                    top: -1000px;
                    left: -1000px;
                }
            }
        }

        .coffee-add-details {
            @include flex(column, flex-start, center);
            gap: $gapTwnty;

            .coffee-type {
                @include searchStyle(250px);
                @include borderStyle($darkCoffeeCol);
                @include customizedSelect;
            }

            .coffee-name {
                @include searchStyle(250px);
                @include borderStyle($darkCoffeeCol);
            }
        }
    }

    .coffee-detail-section-two {
        @include flex(column, center, center);
        gap: $gapTwnty;

        textarea {
            @include searchStyle(450px);
            @include borderStyle($darkCoffeeCol);

            resize: none;
            border-radius: 0px;
        }

        .btn {
            @include btnStyles(optTwo);

            &:active {
                box-shadow: none;
                transform: translateY(8px);
            }
        }
    }
}

.coffee-list {
    width: $widthScreen;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    .coffee-card {
        @include cardStyles();
        border: solid 1px #270f04;
        overflow: hidden;

        .card-coffee-image {
            width: 120px;
            height: 120px;
            display: none;

            background-color: $imageBgCol;
            border-radius: $borderRadTwoHun;
            object-fit: cover;
        }

        .coffee-desc {
         
        }

        &:hover {
            order: -1;
            width: 500px;
        }
    }
}